{% extends "base.html" %}
    {% block titulo %}
        KWYJIBO - Todas las recetas
    {% endblock %}

    {% block header %}
        {% if sesion %}
            <li> <a href="/subir_receta/"> New recipe! </a> </li>
            <li> <a href="/logout/"> Log Out </a> </li> 
        {% else %}
            <li> <a href="/login/"> Log In </a> </li>
        {% endif %}
    {% endblock header %}

    {% block titulo_seccion %}
        <IMG SRC="/static/images/recetas.png">
    {% endblock titulo_seccion %}

    {% block body %}
        <center>
            <div class="container">
                {% for e in errores %}
                    <ul>
                        <li> {{ e }} </li>
                    </ul>
                {% endfor %}
            </div>

            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        {% for l in lista %}
                            <ul>
                                <a href="/recetas/{{l.id}}"> {{ l }} </a>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="col-md-9 column">
                        <h4> {{ receta.titulo }} </h4>
                        <img SRC="/static/images/{{ receta.imagen }}">
                        <h4> {{ receta.personas }} </h4>
                    </div>
                </div>
            </div>
        </center>
    {% endblock %}