{% extends "base.html" %}
    {% block titulo %}
        KWYJIBO - Todas las recetas
    {% endblock %}

    {% block header %}
        {% if sesion %}
            <li> <a href="/subir_receta/"> New recipe! </a> </li>
            <li> <a href="/logout/"> Log Out </a> </li> 
        {% else %}
            <li> <a href="/login/"> Log In </a> </li>
        {% endif %}
    {% endblock header %}

    {% block titulo_seccion %}
        <IMG SRC="/static/images/recetas.png">
    {% endblock titulo_seccion %}

    {% block body %}
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-3 column">
                    <div class="list-group">
                        <center> <a class="list-group-item active"> Choose your recipe! </a> </center>
                    </div>
                    {% for l in lista %}
                        <div = class="list-group-item">
                            <a href="/recetas/{{l.id}}"> {{ l }} <a>
                        </div>
                    {% endfor %}                    
                </div>
                <div class="col-md-9 column">
                    <div class="list-group">
                        <center>
                            <a class="list-group-item active"> {{ receta.titulo }} </a>
                        </center>
                    </div>
                    <div class="list-group-item">
                        <img src="/static/images/{{ receta.imagen }}"> </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}