{% extends "base.html" %}
    {% block titulo %}Subir Receta{% endblock %}
    {% block head_link %}

    {% endblock %}

    {% block body %}
        <h1> SUBE TU RECETA! </h1>
        
        {% for e in errores %}
        <div class="alert alert-error">
            <ul>
                <li>{{ e }}</li>
            </ul>
        </div>
        {% endfor %}


        <div id="form_subir_receta" class="span6">
            <form name="form" action="/subir_receta/" method="POST" class="form-signin" enctype="multipart/form-data">
                {% csrf_token %} 
                {{ form.as_p }}
                <input id="boton" type="submit" class="btn btn-inverse" value="Enviar" />
            </form>   
        </div>
    {% endblock %}