{% extends "base.html" %}
    {% block titulo %}
        KWYJIBO - Contact
    {% endblock %}

    {% block header %}
        {% if request.session.nick %}
            <li> <a href="/logout/"> Log Out </a> </li> 
        {% else %}
            <li> <a href="/login/"> Log In </a> </li>
        {% endif %}
    {% endblock header %}

    {% block titulo_seccion %}
        <IMG SRC="/static/images/contact.png">
    {% endblock titulo_seccion %}

    {% block body %}
        <center>
            <div class="container">
                {% for e in errores %}
                    <ul>
                        <li> {{ e }} </li>
                    </ul>
                {% endfor %}
            </div>

            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="jumbotron">     
                            <p> kwyjibo1314@gmail.com </p>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    {% endblock %}