{% extends "base.html" %}
	{% block titulo %}
		KWYJIBO - Your cookbook online
	{% endblock titulo %}

	{% block header %}
		<li> <a href="/logout/">  </a> </li>	
	{% endblock header %}

	{% block body %}
		<center>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="jumbotron well">
							<br>
							<IMG SRC="/static/images/logo_web.png">
							<p>
								<a href="/login/" class="btn btn-default btn-large"> Log in </a> <small>or</small> <a href="/registrate/" class="btn btn-success btn-large"> Sign in </a>
							</p>						
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-12 column">
						<p> <strong>KWYJIBO</strong> es un proyecto para <strong>Sistemas y Tecnologías Web</strong> </p>
						<p> Escuela Técnica Superior de Ingeniería Informática </p>
						<p> Universidad de La Laguna </p>
					</div>
				</div>
			</div>
		</center>
	{% endblock body %}