{% extends "base.html" %}
    {% block titulo %}Registrate{% endblock %}

    {% block titulo_seccion %} <h1> REGISTRATE! </h1> {% endblock %}

    {% block body %}
<div class="container">
        
        {% for e in errores %}
        <div class="alert alert-error">
            <ul>
                <li>{{ e }}</li>
            </ul>
        </div>
        {% endfor %}


        <div id="form_registrate" class="span6">
            <form name="form" action="/registrate/" method="POST" class="form-signin">
                {% csrf_token %} 
                {{ form.as_p }}
                <input id="boton" type="submit" class="btn btn-inverse" value="Enviar" />
            </form>   
        </div>
        </div>
    {% endblock %}