{% extends "base.html" %}
    {% block link %}
        <META HTTP-EQUIV="REFRESH" CONTENT="2;URL=/">
    {% endblock %}

    {% block titulo %}
        KWYJIBO - Registrado Corecctamente
    {% endblock %}

    {% block titulo_seccion %}
        <!--Imagen-->
    {% endblock titulo_seccion %}

    {% block body %}
        <center>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="jumbotron">     
                            <p> Sign In Succesfull! </p>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    {% endblock %}