{% extends "base.html" %}
    {% block titulo %}
        KWYJIBO - Sign in
    {% endblock %}

    {% block header %}
        <!-- Vacío -->
    {% endblock header %}

    {% block titulo_seccion %}
        SIGN IN
    {% endblock titulo_seccion %}

    {% block body %}
        <center>
            <div class="container">
                {% for e in errores %}
                    <ul>
                        <li> {{ e }} </li>
                    </ul>
                {% endfor %}
            </div>

            <form action="" method="post">
                <ul class="list-group">
                    <li id="subject" class="list-group-item"> Nickname{{ form.nick }}</li>
                    <li id="email" class="list-group-item">{{ form.nombre }}</li>
                    <li id="message" class="list-group-item">{{ form.apellidos }}</li>
                </ul>
                <input type="submit" value="Submit">
            </form>
            <!--<form class="form-horizontal" role="form" action="/registrate" methon="POST">
                {% csrf_token %} 
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Nickname </label>
                        <div class="col-sm-2">
                            {{ form.nick }}
                        </div>
                </div>
                <input type="submit" class="btn btn-inverse" value="Enviar" />
            </form> -->
        </center>
    {% endblock %}