<!DOCTYPE html>

<html lang = "es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">
		<link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
		<title>
			{% block titulo %}
			{% endblock titulo %}
		</title>
	</head>

	<body>
		<div class = "navbar navbar-inverse">
			<div class = "navbar-inner">
				<ul class = "nav">
					{% block header %}
					{% endblock header %}
				</ul>
			</div>
		</div>

			{% block titulo_seccion %}
			{% endblock titulo_seccion %}

			{% block body %}
			{% endblock body %}
		</body>

		<footer>
			{% block footer %}
			{% endblock footer %}
		</footer>
	</body>
</html>






<!--<body>		
	    <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <nav>
                        <ul class="nav pull-right">
                          {% block barra_superior %}{% endblock barra_superior%}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <br/>

        <h1>{% block encabezado %}{% endblock encabezado%}</h1>
     	<div id="wrap">
			<div class="container">
				{% block contenido %}{% endblock contenido%}
			</div>
			   {% block atras%}{% endblock atras%}

		</div>

	
	</body>
	<footer>
		<div class="container">
			
		    	<li class="pull-right"><a name="about" href="/about/">About <i class="icon-list icon-black"></i></li></a>
		      	<li class="pull-right"><a id="contact" name="contact" href="/contact-us/" >Contact <i class="icon-comment icon-black"></i></a></li>
		    
	  	</div>	
	</footer>
</html> -->