<!DOCTYPE html>

<html lang = "es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
		<title>
			{% block titulo %}
			{% endblock titulo %}
		</title>
	</head>

	<body>
		<header class="navbar navbar-default" role="navigation">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<a class="navbar-brand" href="/"> KWYJIBO </a>
			    <ul class="nav navbar-nav navbar-right">
			    	{% block header %}
			    	{% endblock header %}
			    </ul>
			</div>
		</header>

		{% block titulo_seccion %}
		{% endblock titulo_seccion %}

		{% block body %}
		{% endblock body %}

		<footer class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav navbar-right">
					<li> <a href="#"> Ayuda </a> </li>
					<li> <a href="#"> Contacto </a> </li>
			    </ul>
			</div>
		</footer>
	</body>
</html>
